[limit]
count = 60
window = 500

[[server]]
name = "server0"
port = 4000
target_url = "http://127.0.0.1:3000"
expired = 1800
secret_key = "secret_key"
ctn_max = 50

[[server]]
name = "server1"
port = 4001
target_url = "http://127.0.0.1:3001"
expired = 1800
secret_key = "secret_key"
ctn_max = 60

[[server]]
name = "server2"
port = 4002
target_url = "http://127.0.0.1:3002"
expired = 1800
secret_key = "secret_key"
ctn_max = 60
[server.https]
enabled = true
cert_path = "fullchain.pem"
key_path = "privkey.pem"